@import 'app.scss';
@import url('https://fonts.googleapis.com/css?family=Play');

/////////////////////////
$navbar_h : 40px !important;
$footer_h : 40px !important;
nav,
.nav{
    background-color: transparent !important;
}
.navbar{
    height: $navbar_h;
}
.profile{
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: $border;
    border-radius: 8px;
    @extend %flex_text_middle;
  }
  .btn-toolbar{
    .btn-group{
      button{
        padding: 20px 80px 0;
        background-color: rgba(255, 255, 255, .3);
        border: 3px solid #6d6d6d;
        border-radius: 5px;
        font-size: 3rem;
      }
    }
  }
.navbar-nav,
.nav-item{
    width: 100%; 
    height: 40px;
    white-space: nowrap; 
    max-width: 30%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 1.2rem;
}
.nav-item,
.nav-iconItem,
.col{
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #262626;
  border-radius: 10px;
  @extend %flex_text_middle;
}
.nav-item{
  width: auto;
  padding-top: 10px;
  img{
    width: auto;
    text-align: left;
    padding-right: 10px;
  }
}
.nav-iconItem{
    width: 40px;
    height: 40px;
    padding: 0 5px;
    z-index: 1;
    img{
      width: 100%;
    }
}
body{
    height: 100vh;
    background-image: url('../images/dark-galaxy.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
    color: $white;  
}
footer{
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 40%;
    
}
.startoni{
    display: flex;
    flex-direction: column;
}
.starto{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: calc(100vh - (#{$navbar_h} + #{$footer_h}));
    text-align: center;
}
.starto-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    cursor: pointer;
    img{
        margin: 0 auto;
    }
}
.text-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: calc(100% / 5);
}
.title{
    font-size: 5rem;
    line-height: 1;
    color: $white;
}

// btn style
.btn{
    // margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    max-width: 200px;
    font-size: 2rem;
    line-height: 1;
    padding-top: 20px;
}
.btn-xs{
    margin-left: auto;
    margin-right: auto;
    min-width: 80px;
    max-width: 100px;
    font-size: 1.8rem;
    line-height: 1;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}
.green{
    background-image:-webkit-linear-gradient(top, #5f8829, #c2e00d);
        background-image:-moz-linear-gradient(top, #5f8829, #c2e00d);
        background-image:-ms-linear-gradient(top, #5f8829, #c2e00d);
        background-image:-o-linear-gradient(top, #5f8829, #c2e00d);
        background-image:linear-gradient(to bottom, #5f8829, #c2e00d);

        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;

        -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
        -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
        box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #5f8829, 0 4px 2px rgba(0, 0, 0, .5);
        &:hover {
        background: #5f8829;
        background-image:-webkit-linear-gradient(top, #c2e00d, #5f8829);
        background-image:-moz-linear-gradient(top, #c2e00d, #5f8829);
        background-image:-ms-linear-gradient(top, #c2e00d, #5f8829);
        background-image:-o-linear-gradient(top, #c2e00d, #5f8829);
        background-image:linear-gradient(top, #c2e00d, #5f8829);  
    }
}
.red {
    text-shadow:-1px -1px 0 #A84155;
    background: #D25068;
    border:1px solid #D25068;
    
    background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
    background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
    background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
    background-image:-o-linear-gradient(top, #F66C7B, #D25068);
    background-image:linear-gradient(to bottom, #F66C7B, #D25068);
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    &:hover {
        background: #F66C7B;
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
        background-image:-o-linear-gradient(top, #D25068, #F66C7B);
        background-image:linear-gradient(top, #D25068, #F66C7B);  
    }
}
  
.blue {
    text-shadow:-1px -1px 0 #2C7982;
    background: #3EACBA;
    border:1px solid #379AA4;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    &:hover {
        background: #48C6D4;
        background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
        background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
        background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
        background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
        background-image:linear-gradient(top, #3EACBA, #48C6D4);
    }
}

// table style
table{
    thead{
        tr{
            th{
                font-size: 2rem;
            }
            &:hover{
                background-color: transparent !important;
            }
        }
    }
    tbody{
        color: whitesmoke;
        tr{
            td{
                font-size: 1.6rem;
            }
        }
    }
}
table{
    th{
        color: whitesmoke !important;
        
    }
}

// Game Room
.gameTable{
    background-image: url('./../images/game/table/table.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 440px;
    .row{
        height: 100%;
        align-items: center;
        text-align: center;
    }
}
.seatRow{
    height: 200px;
}
.processGame{
    display: flex;
    flex-direction: column;
    // left: 15%;
    // top: 35%;
}
a.bet{
    max-width: 205px;
    height: auto;
    display: inline-block;
    border: $border;
    cursor: pointer;
    background-color: #777777;
    img{
        transition: .5s ease;
        backface-visibility: hidden;
        &:hover{
            opacity: 0.5;
        }
    }
    &.active{
        img{
            opacity: 0.5;
        }
    }
}
.btn-bet{
    z-index: 1;
    
}
.chips{
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 15px;
    .chip-title{
        position: absolute;
        display: block;
        // width: 100%;
        margin-left: 30px;
        text-align: center;
        top: calc(100% - 130px);
        font-size: 24px;

    }  
}

.modal{
    background-color: rgba(0, 0, 0, .5);
}
.checkbox{
    font-size: 1.2rem;
    text-transform: uppercase;
    input{
        margin-right: 15px;
    }
    &:hover{
        color: #fff;
    }
}
