.coverShake5s {
    animation-name: shakeRot;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

.coverCover {
    animation-name: movetoDice;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    transform: translate(0, 40%);
}

.coverShakeStart {
    animation-name: shakeSlid;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: 6;
}




@keyframes shakeRot {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(5deg)}
    75% {transform: rotate(-5deg)}
    100% {transform: rotate(0deg)}    
    0% {-webkit-transform: rotate(0deg)}
    25% {-webkit-transform: rotate(5deg)}
    75% {-webkit-transform: rotate(-5deg)}
    100% {-webkit-transform: rotate(0deg)}
}

@keyframes shakeSlid {
    0% {transform: translate(0, 0)}
    25% {transform: translate(-0.75%, 0)}
    75% {transform: translate(0.75%, 0)}
    100% {transform: translate(0, 0)}    
    0% {-webkit-transform: translate(0, 0)}
    25% {-webkit-transform: translate(-0.75%, 0)}
    75% {-webkit-transform: translate(0.75%, 0)}
    100% {-webkit-transform: translate(0, 0)}
}

@keyframes movetoDice {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }
    
      to {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 40%, 0);
      }
}