@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Play:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

$prompt : 'Prompt', sans-serif;
$nunito : 'Nunito', sans-serif;
$mitr : 'Mitr', sans-serif;
$montserrat : 'Montserrat', sans-serif;
$play : 'Play', sans-serif;